:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user-add-container {
  width: 500px;
  /* border: 1px solid #0000ee; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 2px 2px 5px black;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #0000ee;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

mat-form-field {
  width: 300px;
  height: 70px;
}

.avatar-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #bdbdbd;
  position: relative;
  cursor: pointer;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.25s ease;
  font-size: 14px;
}

.avatar-wrapper:hover .overlay {
  opacity: 1;
}

.overlay mat-icon {
  font-size: 32px;
  margin-bottom: 4px;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.btn {
  margin-left: 140px;
}
