.layout-container {
  width: 100%;
  height: 100vh;
}

.sidebar {
  width: 18%;
  background: #f5f5f5;
  border-right: 1px solid #ddd;
  padding: 16px;
}

.content {
  width: 77%;
  padding: 24px;
  background: #fafafa;
  height: 90%;
  overflow: hidden;
}
