<div class="sidebar-container">
  <h1>E-Library</h1>
  <ul>
    <a href=""
      ><mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon
      >Home</a
    >
    <br />

    <a routerLink="user"
      ><mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="people"
      ></mat-icon
      >User</a
    >
    <br />
    <a routerLink="book"
      ><mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="book"
      ></mat-icon
      >Book</a
    >
  </ul>
</div>
