.sidebar-container {
  width: 95%;
  margin: auto;
  height: 100px;
}
h1 {
  text-align: center;
  font-size: 25px;
  color: #005aa7;
}
.sidebar-container ul {
  list-style-type: none;
  display: block;
  margin-top: 20px;
}
.sidebar-container ul a {
  text-decoration: none;
  display: block;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
mat-icon {
  font-size: 18px;
  transform: translateY(8px);
}
