.home-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}
.browse {
  position: absolute;
  z-index: 1000;
  bottom: 30px;
  left: 450px;
  background-color: antiquewhite;
  /* border-radius: 20px; */
}
.browse button {
  font-size: 18px;
  color: blue;
  font-weight: 500;
}
